[Unit]
Description=PiMQTT Service, basic management via MQTT
After=multi-user.target
Conflicts=getty@tty1.service
;StartLimitIntervalSec=500
;StartLimitBurst=5

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/pimqtt.py
StandardInput=tty-force
Environment=PYTHONUNBUFFERED=1
StandardOutput=syslog+console
StandardError=syslog+console
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
